{% extends 'app1/base.html' %}

{% block title %}
<title>登录界面</title>

{% endblock %}


{% block container %}

    <form method="post" action="{% url 'app1:login' %}" class="form-horizontal" style="padding-top: 40px;padding-left: 200px" role="form">
      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">账户</label>
        <div class="col-sm-4">

          <input type="text" name="username" class="form-control" id="username" placeholder="请输入账户">
        </div>
      </div>

      <div class="form-group">
        <label for="lastname" class="col-sm-2 control-label">密码</label>
        <div class="col-sm-4">
          <input type="password" class="form-control" id="lastname" placeholder="请输入密码">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">登录</button>
        </div>
      </div>
    </form>


    <a href="/">返回首页</a>
{% endblock %}

